*{
    margin:0;
    padding:0;
}

.app{
    color:black;
    width:100%;
}

/* HeroPage */
.model{
    margin:auto;
    align-items: center;
    width: fit-content;
}

.hero-page {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 0px;
    margin-bottom: -1.5rem;
    position: relative;
    background-color: #E4F9F5;
    text-align: center;
    font-family: 'Sacramento', cursive;
    position:sticky;
}

.hero-page h1 {
    color:  #116868;
    font-size: 5.6em;
    margin: 3rem auto 0 auto;
}

.p2 {
    margin: 0 auto 10px auto;
    font-family: 'Merriweather', serif;
    color:#108181;
}
.cloud1{
    position: absolute;
    left: 60%;
}
.cloud2{
    position: absolute;
    left:20%;
}
.mountain {
    max-width: 100%;
    height: auto;
    display:None;
  }


/*About page   */
.about {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    background-color: #76d3c2;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.about img {
    width: 230px;
    height: 250px;
    margin-bottom: 40px;
}

.about p {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    line-height: 2;
    margin: 0 auto;
}

.about-para {
    margin: 0 3rem;
    padding: 0 5rem;
}

/*Contact page */

.skill {
    text-align: center;
}

.skills-content {
    width: 50%;
    margin: 2rem auto;
    padding: 2.5rem 0;
    text-align: left;
}

.skills-content h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 0 0;
}

.im1 {
    float: right;
    margin: 0.8rem 2rem;
}

.im2 {
    margin: 0.8rem 2rem;
    float: left;
    width: 16rem;
    height: 16rem;
}

/*Footer*/
.footer{
    width: 100%;
    margin-top:8rem;
    background-color:#15dbdb;
    text-align: center;
    padding: 0.5rem 0;
    font-family:'Sacramento', cursive ;
    font-weight: bold;
    font-size:1.5rem;
}




@media only screen and (max-width: 425px){
    .app{
        padding:0;
        margin:0;
        width:100vw;
        float: left;
        overflow-x: hidden;
    }
    .model-div{
        margin:auto;
        float: left;
        width: 300px;
        overflow-x: hidden;
    }
    .model{
        transform:scale(0.4);
        display:None;
    }
    .mountain{
        padding: 2rem 0.5rem;
        display:block;
    }
    .about-para{
        margin:0;
        padding:0 2rem;
        text-align: justify;
    }
}