body {
    margin: 0;
    padding: 0;
}

.title {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 0px;
    margin-bottom: -20px;
    position: relative;
    background-color: #E4F9F5;
    text-align: center;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Sacramento', cursive;
}

.title h1 {
    color: #66bfbf;
    font-size: 5.6rem;
    margin: 50px auto 0 auto;
}

.cloud1 {
    position: absolute;
    left: 60%;
}

.cloud2 {
    position: absolute;
    margin: 0 auto;
}

.p2 {
    margin: 0 auto 10px auto;
    font-family: 'Merriweather', serif;
    color: #66bfbf;
}

.cloud1,
.cloud2,
.mount {
    max-width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.mount {
    padding: 0px;
    margin: 0px;
}

.about {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    background-color: #76d3c2;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.about img {
    width: 230px;
    height: 250px;
    margin-bottom: 40px;
}

.about p {
    font-family: 'Merriweather', serif;
    font-weight: 200;
    line-height: 2;
    margin: 0 auto;
}

.about-para {
    margin: 0 40px;
    padding: 0 80px;
}

.skill {
    text-align: center;
}

.skills-content {
    width: 50%;
    margin: 30px auto;
    padding: 40px 0;
    text-align: left;
}

.skills-content h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 0 0;
}

.im1 {
    float: right;
    margin: 10px 30px;
}

.im2 {
    margin: 10px 30px;
    float: left;
    width: 256px;
    height: 256px;
}